body{
      padding: 0;
      margin: 0;    
      background-color: #212121;

}
.head {
            display: flex;
            justify-content: center;   /* Horizontally center */
            align-items: center;       /* Vertically center (optional) */
            padding: 1rem;             /* Optional spacing */
            background-color:#212121; /* Optional background */
            color: #fff;
            margin-bottom: 150px;
}

.header {
            font-size: 1.5rem;         /* Scales with screen size */
            padding: 0.5rem 1rem;      /* Internal spacing */
            width: fit-content;        /* Shrinks/grows to fit content */
            max-width: 100%;           /* Prevents overflow */
            text-align: center;        /* Centers text inside */
}
.main-item{
          display: flex;
          gap: 10px;
          justify-content: center;
          
          
}
.button1{
          padding: 40px;
          background-color: grey;
          margin-bottom: 10px;
          cursor: pointer;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          border-radius: 10px;
          font-size: 20px;

}
.button2{
          padding: 40px;
          background-color: rgb(166, 168, 27,1);
          cursor: pointer;
          border-radius: 10px;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          font-size: 20px;
}
.button3{
          padding: 40px;
          background-color: rgb(27, 108, 165);
          margin-bottom: 10px;
          cursor: pointer;
          border-radius: 10px;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          font-size: 20px;
}
.button4{
          padding: 40px;
          background-color: rgb(237, 133, 20);
          cursor: pointer;
          border-radius: 10px;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          font-size: 20px;
}
