body{
      padding: 0;
      margin: 0;    
      background-color: #212121;

}
.header{
          background-color: #212121;
          color: aliceblue;
          font-size: 50px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-bottom: 130px;
          
}
.main-item{
          display: flex;
          gap: 10px;
          justify-content: center;
          
          
}
.button1{
          padding: 40px;
          background-color: grey;
          margin-bottom: 10px;
          cursor: pointer;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          border-radius: 10px;
          font-size: 20px;

}
.button2{
          padding: 40px;
          background-color: rgb(166, 168, 27,1);
          cursor: pointer;
          border-radius: 10px;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          font-size: 20px;
}
.button3{
          padding: 40px;
          background-color: rgb(27, 108, 165);
          margin-bottom: 10px;
          cursor: pointer;
          border-radius: 10px;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          font-size: 20px;
}
.button4{
          padding: 40px;
          background-color: rgb(237, 133, 20);
          cursor: pointer;
          border-radius: 10px;
          border-style: solid;
          border-width: 5px;
          border-color: white;
          font-size: 20px;
}
